body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
  background-color: lightgrey;
  }


.maintxt {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.maintxt > img,
.overlay-text {
  position: absolute;
}

.img {
  width: 250px;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  border-style: solid;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
